@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 1em;
    font-family: 'Roboto Condensed', sans-serif;
    color: #48484A;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: #48484A;
    height: 100px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 12px -2px, rgba(0, 0, 0, 0.6) 0px 3px 7px -3px;
}

main {
    display: flex;
    min-height: calc(100vh - 200px);
    padding: 30px;
}

footer {
    background-color: #E96E4B;
    height: 100px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -6px 12px -2px, rgba(0, 0, 0, 0.3) 0px -3px 7px -3px;
}

.container {
    width: 1080px;
    margin: 0 auto;
}